[Unit]
Description=Shave and a haircut
After=network-online.target
 
[Service]
ExecStart=/bin/bash /home/pi/threebrooks/ShaveAndAHaircut/run.sh
WorkingDirectory=/home/pi/threebrooks/ShaveAndAHaircut/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
 
[Install]
WantedBy=multi-user.target

